<%- include('partials/header') %>
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Edgistify</h1>
    <p class="lead">Share your experience at Edgistify</p>
    <hr>
    <div class="card-deck">
      <div class="card">
    <div class="card-body">
      <h5 class="card-title">Register <i class="fas fa-user-edit"></i></h5>
      <p class="card-text">Don't yet register? Get registered to share your experience with everyone.</p>
    </div>
    <div class="card-footer">
      <a class="btn btn-dark btn-lg" href="/register" role="button">Register</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Login <i class="fas fa-user"></i></h5>
      <p class="card-text">Already have a account? login to share and view.</p>
    </div>
    <div class="card-footer">
      <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
    </div>
  </div>
</div>
  </div>
</div>
<%- include('partials/footer') %>
